<%- include("header") -%>    

<h2>This is the about page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos aperiam
  pariatur maxime, temporibus consequatur cumque culpa dicta voluptates unde
  voluptas ab. Sint laudantium rem ad repellat. Molestias ducimus pariatur
  harum.
</p>

<%- include("footer") -%>    